<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles/index.css">
    <title>Converge push</title>
</head>

<body>
	<div id='Wrapper'>
		<div id='topWrapper'>
		</div>
		<div id='middleWrapper'>	
			<form action="" id="subscriber">
				<h2>Add subscribers</h2>
				<div id="responseDiv"></div>
				<select id="platform">
					<option>--select--</option>
					<option value="android">android</option>
					<option value="graphql">graphql</option>
					<option value="rest">rest</option>
					<option value="rest">web</option>
				</select>
				<input type="text" id="subscription_info" name="subscription_info" placeholder="Subscriber Info" required>
				<input type="text" id="calender_ids" name="calender_ids" placeholder="Calendar Ids" required>
				<input type="submit" value="Submit">
			</form>
		</div>
		<div id='bottomWrapper'>

		</div>
	</div>   	
</body>
</div>
<script src='./js/index.js'></script>
</body>
</html>
